*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-size: calc(10px + 2vmin);
}

body {
  color: #222222;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 2rem;
}

li.completed {
  color: #666666;
  text-decoration: line-through;
}

form.remove {
  display: none;
}

li a,
button.remove {
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 1px 1px black;
  font-size: 16px;
}

li a:active,
button.remove:active {
  box-shadow: inset 1px 1px black;
}

button.remove {
  background-color: #d64100;
  font-size: 16px;
}

li a:active {
  box-shadow: inset 1px 1px grey;
}

li a {
  color: black;
  display: none;
  padding: 1px;
  text-decoration: none;
}

li a:hover {
  background-color: lightgreen;
}

form.register {
  margin: 0 auto;
  width: 50%;
  border: 1px solid black;
  box-shadow: 2px 2px 5px grey;
}

form.register label {
  display: flex;
  border-bottom: 1px solid grey;
  justify-content: center;
  padding: 1rem;
}

form.register input {
  margin-left: 1rem;
}

form.register button {
  border-color: black;
  font-size: 16px;
  width: 100%;
}

form.register button:hover {
  font-weight: bold;
}

p.flash {
  color: red;
  margin: 1rem auto;
  text-align: center;
  width: 50%;
}
