{% extends 'base.html' %}

{% block content %}
  <h1>A simple to-do application</h1>

  <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Sign up</a>

  <form class="filter" action="/" method="post">
    <label>Filter:
      <select class="filter" name="filter">
        <option value="all">All</option>
        <option value="completed">Completed</option>
        <option value="uncompleted">Uncompleted</option>
      </select>
    </label>

    <button type="submit">Apply</button>
  </form>

  <ul>
    {% for todo in todos %}
      <li class="{{ "completed" if todo['completed'] }}">
        {{ todo['description'] }}
        {% if not todo['completed'] %}
          <a href="{{ url_for('todos.complete', id=todo['id']) }}">Complete</a>
        {% endif %}
        <form action="/remove" class="remove" method=post>
          <button class= "remove" type="submit" name="remove" value="{{ todo['id'] }}">Delete</button>
        </form>
      </li>
    {% endfor %}
  </ul>
  <form method="post" action="/add" method="post">
    <label for="task">Task</label>
    <input type="text" name="task" id="task"/>
    <input type="submit" value="submit">
  </form>
{% endblock %}
